.Logo {
  display: flex;
  width: 65px;
  height: 65px;
  font-size: 50px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
  font-family: 'Cookie', cursive;
  cursor: pointer;

  .text {
    align-self: center;
  }
}

.Logo:hover {
  background-color: #a9a9a9;
}
