.programmingSkills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 30px;
  color: black;
  position: absolute;
  height: 70px;
  left: 449px;
  top: 270px;
  background-color: #20b2aa;
  color: #d0f0c0;
  border-radius: 5px 5px 0 0;
  padding: 25px;
  text-align: center;
  box-shadow: 0 5px 5px #708090;
  // font-weight: 600;
}

.chain {
  position: absolute;
  left: 420px;
  bottom: 0;
}
