.title {
  font-family: 'Lilita One', cursive;
  color: #014421;
  font-size: 40px;
  position: absolute;
  top: 40px;
  left: 70px;
}

.backendContainer {
  background-color: #00ad83;
  position: absolute;
  top: 80px;
  right: 0;
  width: 350px;
  height: 250px;
  box-shadow: inset 7em 1em #ace1af;
  margin-top: 150px;
}

.backendSkills {
  width: 215px;
  height: 180px;
  padding: 5px;
  position: absolute;
  transform: rotate(-10deg);
  text-align: center;
  background-color: #6c7c59;
  top: 135px;
  left: 28px;
  border-radius: 3px;
  color: #d0f0c0;
  line-height: 24px;
}
