.cardList {
  // background-color: #483d8b;
  font-family: 'Nunito', sans-serif;
  position: relative;
  // top: 40px;
  // left: 30px;
  // width: 380px;
  // height: auto;
  // // box-shadow: inset 7em 1em gold;
  // box-shadow: 5px 5px 5px #708090;
}

// .title {
//   font-family: 'Lilita One', cursive;
//   color: #e0ffff;
//   font-size: 40px;
//   position: absolute;
//   bottom: 0;
//   left: 40px;
// }
.title {
  font-family: 'Lilita One', cursive;
  color: #db7093;
  font-size: 40px;
  position: absolute;
  top: 40px;
  left: 70px;
}

.frontendContainer {
  background-color: #483d8b;
  position: relative;
  top: 80px;
  left: 30px;
  width: 350px;
  height: 250px;
  box-shadow: 5px 5px 5px #708090;
  margin-top: 50px;
}

.frontendSkills {
  width: 170px;
  height: 247px;
  padding: 5px;
  position: absolute;
  background-color: #e6e6fa;
  bottom: 85px;
  left: 20px;
  border-radius: 3px;
  color: #696969;
  font-weight: 600;
  line-height: 24px;
}

.backendContainer {
  background-color: #4b0082;
  position: absolute;
  top: 80px;
  right: 0;
  width: 350px;
  height: 250px;
  box-shadow: inset 7em 1em gold;
  margin-top: 50px;
}

.backendSkills {
  width: 295px;
  height: 175px;
  padding: 5px;
  position: absolute;
  background-color: #db7093;
  top: 110px;
  right: 110px;
  border-radius: 3px;
  color: #ffb6c1;
  font-weight: 600;
  line-height: 24px;
}
