.title {
  font-family: 'Lilita One', cursive;
  color: #e0ffff;
  font-size: 40px;
  position: absolute;
  bottom: 0;
  left: 40px;
}

.frontendContainer {
  display: inline-block;
  background-color: #483d8b;
  position: relative;
  top: 80px;
  left: 30px;
  width: 350px;
  height: 250px;
  box-shadow: 5px 5px 5px #708090;
  margin-top: 80px;
}

.frontendSkills {
  width: 170px;
  height: 267px;
  padding: 5px;
  position: absolute;
  background-color: #e6e6fa;
  bottom: 85px;
  left: 20px;
  border-radius: 3px;
  color: #696969;
  font-weight: 600;
  line-height: 24px;
}
